<p>&nbsp;</p>
<h3 style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Estimados:</h3>
<strong style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">El presente informe notifica el desarrollo de operaciones según el siguiente detalle: </strong>
<ul>
  <li>
    <strong style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Fecha: <%= fecha%></strong>
  </li>
  <li>
    <strong style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Responsable: <%= datos.detalleeventoOperaciones.responsableEvento%></strong>
  </li>
  <li>
    <strong style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Area Producción: <%= datos.detalleeventoOperaciones.produccion.areaProduccion%></strong>
  </li>
  <li>
    <strong style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Programa: <%= datos.detalleeventoOperaciones.produccion.pgmProduccion%></strong>
  </li>
</ul>
<% if (datos.incidentes.length > 0) { %>
<p> 
  <h3 style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Listado de incidentes:</h3>
</p>  
  <% for (var i=0; i<datos.incidentes.length;  i++ ) { %>
    <p> 
      <table border="3" style="border: 3px solid #999; border-collapse: collapse">
        <tbody>
            <tr>
              <th scope="row" style="font-size:small; border: 1px solid black; font-weight: bold;position: left;">Tipo de Falla</th>
              <td style="font-size:small; border: 1px solid black"><%= datos.incidentes[i].detalles[0] %></td>
            </tr>
            <tr>
              <th scope="row" style="font-size:small; border: 1px solid black; font-weight: bold;">Descripción</th>
              <td style="font-size:small; border: 1px solid black"><%= datos.incidentes[i].descripcion %></td>
            </tr>
        </tbody>
      </table>
    </p>  
  <% } %>
  <%} else { %>
  <p> 
    <h3 style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Operación de producción no presenta incidentes</h3>
  </p>
<% } %>
<br />
<p> 
  <a href="http://registro.ingenieriac13.cl/historial1">Click aquí para resolver</a>
</p>
<h3 style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Saludos cordiales, </h3>
<p></p>
<h4 style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Soporte BIT</h4>
<h4 style="font-family:Helvetica,Arial,sans-serif;font-size:15px;color:#234567">Ingeniería, Canal 13</h4>